

<%-include("header")-%>

<div class="box">


  <h1 id="heading" ><%= day %> List</h1>
</div>
    <div class="box">
      <% for(var k=0;k<newI.length;++k){%>
<div class="item">
<input type="checkbox">
        <p> <%=newI[k]%></p>
      </div>

      <%}%>
<form class="item"action="/" method="post">
  <div >
  <input type="text" name="newitem" placeholder="Add Item" autocomplete="off">

    <button name="submit"value="<%= day %>" type="submit" id="button-addon2">+</button>

</div></div>
    </form>
</div>
<%-include("footer")-%>
